<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table tr th{border:1px solid black}
        table tr td{border:1px solid black}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>상세보기</h1><br>
    <a id="home" href="#">홈으로</a>
    <table class="table">
        <thead>
            <tr class="table-active">
                <th style="width: 10%">글번호: <span id="artNum">1</span></th>
                <th style="width: 20%">글쓴이ID: <span id="writerId">1</span></th>
                <th style="width: 20%">작성일: <span id="writeDate">1</span></th>
                <th style="width: 10%">조회수: <span id="count">1</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4" style="width: 100%"><span id="title">테스트</span></td>
            </tr>
            <tr>
                <td colspan="4" style="width: 100%">
                    <textarea id="content">게시글 테스트</textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        document.getElementById('home').addEventListener('click',e=>{location.href='/'})
    </script>
</body>
</html>