<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table tr th{border:1px solid black}
        table tr td{border:1px solid black}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>목록보기</h1><br>
    <a id="home" href="#">홈으로</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center" style="width:10%">글번호</th>
                <th class="text-center"style="width:40%">제목</th>
                <th class="text-center"style="width:20%">글쓴이</th>
                <th class="text-center"style="width:20%">작성일</th>
                <th class="text-center"style="width:10%">조회수</th>
            </tr>
        </thead>
        <tbody id="tb">

        </tbody>
    </table>
    <script>
        document.getElementById('home').addEventListener('click',e=>{location.href='/'})
        $.getJSON('/articles',d=>{
            if(d.count != 0){
                const list = d.list
                let tr = ''
                let i = 0
                for(; i< d.count; i++){
                    tr += '<tr>'
                        +'<td class="text-center">'+list[i].artNum+'</td>'
                        +'<td class="text-center"><a class="title"id="'+list[i].artNum+'"href="#">'+list[i].title+'</a></td>'
                        +'<td class="text-center">'+list[i].writerId+'</td>'
                        +'<td class="text-center">'+list[i].regDate+'</td>'
                        +'<td class="text-center">'+list[i].count+'</td>'
                        +'</tr>'
                }
                $('#tb').html(tr)
                $('.title').each(function(i){
                    $(this).click(e=>{
                        e.preventDefault()
                        localStorage.setItem('artNum',this.id)
                        $.getJSON(`/articles/${this.id}/count`,d=>{
                            if(d.message === 'SUCCESS'){
                                location.href='/forms/articles/detail'
                            }
                        })
                    })
                })
            }else{
                alert('조회결과 없음')
            }
        })
    </script>
</body>
</html>