<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table tr th{border:1px solid black}
        table tr td{border:1px solid black}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>목록보기</h1><br>
    <a id="home" href="#">홈으로</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">제목</th>
                <th scope="col" class="text-center">글쓴이</th>
                <th scope="col" class="text-center">작성일</th>
                <th scope="col" class="text-center">조회수</th>
            </tr>
        </thead>
    </table>
    <script>
        document.getElementById('home').addEventListener('click',e=>{location.href='/'})
    </script>
</body>
</html>