<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table tr th{border:1px solid black}
        table tr td{border:1px solid black}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>새글쓰기</h1><br>
    <a id="home" href="#">홈으로</a>
    <form>
        <input type="text" name="bdTitle" class="form-control mt-4 mb-2" id="title"
            placeholder="제목을 입력해주세요." required
        ><br>
        <input type="text" name="bdTitle" class="form-control mt-4 mb-2" id="writerId"
            placeholder="아이디를 입력해주세요." required
        >
        <div class="form-group">
            <textarea class="form-control" rows="10" name="bdContent" id="content"
                placeholder="내용을 입력해주세요" required
            ></textarea>
        </div>
        <button type="submit" class="btn btn-secondary mb-3" id="write-btn">작성하기</button>
    </form>
    <script>
        document.getElementById('home').addEventListener('click',e=>{location.href='/'})
        document.getElementById('write-btn').addEventListener('click',e=>{
            e.preventDefault()
            $.ajax({
                url:'/articles',
                type:'POST',
                data:JSON.stringify({
                    title:document.getElementById('title').value,
                    writerId:document.getElementById('writerId').value,
                    content:document.getElementById('content').value
                }),
                dataType:'json',
                contentType:'application/json',
                success:d=>{if(d.message==='SUCCESS'){alert('글쓰기 성공!'), location.href='/forms/articles/list'}
                            else{alert('글쓰기 실패')}},
                error:e=>{}
            })
        })
    </script>
</body>
</html>